@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Gestión de Libros</h1>
    <p class="lead">Bienvenidos al Sistema de Gestión de Préstamos de Libros</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>En este Sistema podra:</h2>
        <p>
            Gestionar Usuarios (Docentes y Alumnos)
        </p>
        <p>
            Gestionar Libros
        </p>
        <p>
            Gestionar los préstamos de libros
        </p>
        <p>
            Analizar los reportes
        </p>
    </div>
    <div class="col-md-4">
        <h2>Consideraciones:</h2>
        <p>
            Se puede realizar el préstamo como máximo de 3 libros al día por usuario
        </p>
        <p>
            Los préstamos tiene una duracion de 1 día, si el usuario devuelve el libro pasado dicho tiempo se le actualizará su estado como sancionado
        </p>
        <p>
            Los usuarios que deben por lo menos un libro y ya ha pasado un día o más de su préstamo, no podrán pedir prestado más libros. Podrá devolverlos, pero recordemos que se le sancionará
        </p>
        <p>
            Los usuarios sancionados no podrán prestar libros
        </p>
        <p style="font-weight:bold;">
            IMPORTANTE: Para efectos de prueba cada día dura 5 minutos.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Autor</h2>
        <p>
            El Sistema fue desarrollado por <a href="https://www.linkedin.com/in/ivan-morales-a458851aa/" target="_blank">Ivan Morales</a>
        </p>
        <p>
            Teléfono: +51 945 472 496
        </p>
        <p>
            email: ivan16sc@gmail.com
        </p>
    </div>
</div>